*{
  font-family: sans-serif;
}
html, body, .App, #root{
  background-color: rgba(245, 245, 245, 0.959);
  height: 100%;
  margin: 0;
}
.header-logo{
  background-color: white;
}
.main-container{
  display: flex;
  height: 100%;
}
.container{
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

